# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex
*.filters
*.sdf
ho/Debug/
server/Debug/
net/Debug/
client/Debug/
*.opensdf
*.tf1
*.tfb
*.orig
Release/
Debug
*.vsp
*.psess
*.vspx
